.border-radius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.box-shadow(@values: 1px 2px 2px #ccc) {
	-webkit-box-shadow: @values;
	-moz-box-shadow: @values;
	box-shadow: @values;
}
#gradient {
  .vertical(@start: #333333, @stop: #999999) {
    background-color:@start;
    background-color: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background-color: -webkit-linear-gradient(@start, @stop);
    background-color: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background-color: -moz-gradient(center top, @start 0%, @stop 100%);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
    background-color: linear-gradient(@start, @stop);
  }
  .horizontal(@start: #333333, @stop: #999999) {
    background-color:@start;
    background-color: -webkit-gradient(linear, left top, right top, color-stop(0, @start), color-stop(1, @stop));
    background-color: -webkit-linear-gradient(left, @start 0%, @stop 100%);
    background-color: -moz-linear-gradient(left, @start 0%, @stop 100%);
    -pie-background: linear-gradient(left, @start 0%, @stop 100%);
    background-color: linear-gradient(left, @start 0%, @stop 100%);
  }
  
  .radial(@innerColor: #555, @outerColor: #333)  {
    background-color: @outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
    background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -ms-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
    background-repeat: no-repeat;
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: @endColor;
    background-color: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-color: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-color: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-color: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-color: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-color: linear-gradient(@startColor, @midColor @colorStop, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
  }
}
.columns(@count:2, @gap:15px) {
  -moz-column-count:@count;
  -webkit-column-count:@count;
  column-count:@count;
  -moz-column-gap:@gap;
  -webkit-column-gap:@gap;
  column-gap:@gap;
}
.rotate(@deg:35) {
	-webkit-transform: rotate(formatstring("{0}deg", @deg));
	-moz-transform: rotate(formatstring("{0}deg", @deg));
	-o-transform: rotate(formatstring("{0}deg", @deg));
	-ms-transform: rotate(formatstring("{0}deg", @deg));
	transform: rotate(formatstring("{0}deg", @deg));
}

.transition(@fade-time:0.2s, @fade-style:ease-in-out) {
     -webkit-transition: @fade-time @fade-style all;
        -moz-transition: @fade-time @fade-style all;
         -ms-transition: @fade-time @fade-style all;
          -o-transition: @fade-time @fade-style all;
             transition: @fade-time @fade-style all;
}

.two-transitions(@property1:background, @property2:color, @duration:0.2s, @function:ease-in) {
	-moz-transition-property: @property1, @property2;
	-webkit-transition-property: @property1, @property2;
	transition-property: @property1, @property2;
	
	-moz-transition-duration: @duration, @duration;
	-webkit-transition-duration: @duration, @duration;
	transition-duration: @duration, @duration;
	
	-moz-transition-timing-function: @function, @function;
	-webkit-transition-timing-function: @function, @function;
	transition-timing-function: @function, @function;
}
.three-transitions(@property1:background, @property2:color, @property3:border, @duration:0.2s, @function:ease-in) {
	-moz-transition-property: @property1, @property2, @property3;
	-webkit-transition-property: @property1, @property2, @property3;
	transition-property: @property1, @property2, @property3;
	
	-moz-transition-duration: @duration, @duration, @duration;
	-webkit-transition-duration: @duration, @duration, @duration;
	transition-duration: @duration, @duration, @duration;
	
	-moz-transition-timing-function: @function, @function, @function;
	-webkit-transition-timing-function: @function, @function, @function;
	transition-timing-function: @function, @function, @function;
}
.translate(@move_x: 10px, @move_y: 10px) {
	-webkit-transform: translate(@move_x, @move_y);
	-moz-transform: translate(@move_x, @move_y);
	-o-transform: translate(@move_x, @move_y);
	-ms-transform:translate(@move_x, @move_y);
	transform: translate(@move_x, @move_y);
}
