.border-radius(@radius: 10px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: @radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: @radius;
    border-radius: @radius;
    background-clip: padding-box;
}
.box-shadow(@values: 1px 2px 2px #ccc) {
	-webkit-box-shadow: @values;
	-moz-box-shadow: @values;
	box-shadow: @values;
}
.gradient(@start: #333333, @stop: #999999) {
	background:@start;
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
    -pie-background: linear-gradient(@start, @stop);
	background: linear-gradient(@start, @stop);
}
/* @todo Expand above gradient mixin to allow other non-linear styles */
.linear-gradient(@start: #333333, @stop: #999999) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
    -pie-background: linear-gradient(@start, @stop);
	background: linear-gradient(@start, @stop);
}
.rotate(@deg:35) {
	-webkit-transform: rotate(formatstring("{0}deg", @deg));
	-moz-transform: rotate(formatstring("{0}deg", @deg));
	-o-transform: rotate(formatstring("{0}deg", @deg));
	-ms-transform: rotate(formatstring("{0}deg", @deg));
	transform: rotate(formatstring("{0}deg", @deg));
}
.transition(@property:background, @duration:@fade-time, @function:ease-in-out) {
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	transition: @arguments;
}
.two-transitions(@property1:background, @property2:color, @duration:0.5s, @function:ease-in-out) {
	-moz-transition-property: @property1, @property2;
	-webkit-transition-property: @property1, @property2;
	transition-property: @property1, @property2;
	
	-moz-transition-duration: @duration, @duration;
	-webkit-transition-duration: @duration, @duration;
	transition-duration: @duration, @duration;
	
	-moz-transition-timing-function: @function, @function;
	-webkit-transition-timing-function: @function, @function;
	transition-timing-function: @function, @function;
}
.three-transitions(@property1:background, @property2:color, @property3:border, @duration:0.5s, @function:ease-in-out) {
	-moz-transition-property: @property1, @property2, @property3;
	-webkit-transition-property: @property1, @property2, @property3;
	transition-property: @property1, @property2, @property3;
	
	-moz-transition-duration: @duration, @duration, @duration;
	-webkit-transition-duration: @duration, @duration, @duration;
	transition-duration: @duration, @duration, @duration;
	
	-moz-transition-timing-function: @function, @function, @function;
	-webkit-transition-timing-function: @function, @function, @function;
	transition-timing-function: @function, @function, @function;
}
.translate(@move_x: 10px, @move_y: 10px) {
	-webkit-transform: translate(@move_x, @move_y);
	-moz-transform: translate(@move_x, @move_y);
	-o-transform: translate(@move_x, @move_y);
	-ms-transform:translate(@move_x, @move_y);
	transform: translate(@move_x, @move_y);
}