.border-radius(@tl:10px, @tr:10px, @br:10px, @bl:10px) {
    -webkit-background-clip: padding-box;
    -webkit-border-bottom-left-radius: @bl;
    -webkit-border-bottom-right-radius: @br;
    -webkit-border-top-left-radius: @tl;
    -webkit-border-top-right-radius: @tr;
    -moz-background-clip: padding-box;
    -moz-border-radius: @arguments;
    border-radius: @arguments;
    background-clip: padding-box;
}
.box-shadow(@values: 1px 2px 2px #ccc) {
	-webkit-box-shadow: @values;
	-moz-box-shadow: @values;
	box-shadow: @values;
}
.gradient(@start: #333333, @stop: #999999) {
	background:@start;
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
    -pie-background: linear-gradient(@start, @stop);
	background: linear-gradient(@start, @stop);
}
.gradient-90(@start: #333333, @stop: #999999) {
	background:@start;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, @start), color-stop(1, @stop));
    background: -webkit-linear-gradient(left, @start 0%, @stop 100%);
    background: -moz-linear-gradient(left, @start 0%, @stop 100%);
    -pie-background: linear-gradient(left, @start 0%, @stop 100%);
	background: linear-gradient(left, @start 0%, @stop 100%);
}
.linear-gradient(@start: #333333, @stop: #999999) {
/* @todo Expand above gradient mixin to allow other non-linear styles */
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
    -pie-background: linear-gradient(@start, @stop);
	background: linear-gradient(@start, @stop);
}
#gradient {
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: @endColor;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
  }
}
.columns(@count:2, @gap:15px) {
  -moz-column-count:@count;
  -webkit-column-count:@count;
  column-count:@count;
  -moz-column-gap:@gap;
  -webkit-column-gap:@gap;
  column-gap:@gap;
}
.rotate(@deg:35) {
	-webkit-transform: rotate(formatstring("{0}deg", @deg));
	-moz-transform: rotate(formatstring("{0}deg", @deg));
	-o-transform: rotate(formatstring("{0}deg", @deg));
	-ms-transform: rotate(formatstring("{0}deg", @deg));
	transform: rotate(formatstring("{0}deg", @deg));
}
.transition(@property:background, @duration:0.2s, @function:ease-in) {
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	transition: @arguments;
}
.two-transitions(@property1:background, @property2:color, @duration:0.2s, @function:ease-in) {
	-moz-transition-property: @property1, @property2;
	-webkit-transition-property: @property1, @property2;
	transition-property: @property1, @property2;
	
	-moz-transition-duration: @duration, @duration;
	-webkit-transition-duration: @duration, @duration;
	transition-duration: @duration, @duration;
	
	-moz-transition-timing-function: @function, @function;
	-webkit-transition-timing-function: @function, @function;
	transition-timing-function: @function, @function;
}
.three-transitions(@property1:background, @property2:color, @property3:border, @duration:0.2s, @function:ease-in) {
	-moz-transition-property: @property1, @property2, @property3;
	-webkit-transition-property: @property1, @property2, @property3;
	transition-property: @property1, @property2, @property3;
	
	-moz-transition-duration: @duration, @duration, @duration;
	-webkit-transition-duration: @duration, @duration, @duration;
	transition-duration: @duration, @duration, @duration;
	
	-moz-transition-timing-function: @function, @function, @function;
	-webkit-transition-timing-function: @function, @function, @function;
	transition-timing-function: @function, @function, @function;
}
.translate(@move_x: 10px, @move_y: 10px) {
	-webkit-transform: translate(@move_x, @move_y);
	-moz-transform: translate(@move_x, @move_y);
	-o-transform: translate(@move_x, @move_y);
	-ms-transform:translate(@move_x, @move_y);
	transform: translate(@move_x, @move_y);
}