.circle(@size:43px, @color-a:#DDF3FF, @color-b:#61D0FF, @shadow-color:#515C62) {
	width: @size;
	height: @size;
	line-height:@size+3;
	font-size:18px;
	font-weight:bold;
	padding:3px;
	text-align:center;
	display: block;
	border:1px solid #00ADF4;
	background-color:#DDF3FF;
	color: #1F5FA2;
	text-indent:1px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	.border-radius(@size);
	.gradient(@color-a, @color-b);
	.box-shadow(inset 1px 2px 1px @shadow-color);
}
.page-peel() {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	&:before, &:after {
		content: '';
		z-index: -1;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 70%;
		max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
		height: 55%;
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		-ms-transform: skew(-15deg) rotate(-6deg);
		-o-transform: skew(-15deg) rotate(-6deg);
		transform: skew(-15deg) rotate(-6deg); 
	}
	&:after {
		left: auto;
		right: 10px;
		-webkit-transform: skew(15deg) rotate(6deg);
		-moz-transform: skew(15deg) rotate(6deg);
		-ms-transform: skew(15deg) rotate(6deg);
		-o-transform: skew(15deg) rotate(6deg);
		transform: skew(15deg) rotate(6deg); 
	}	
}
.ribbon(@color:#999, @height: 20px) {
    .gradient(rgba(255,255,255,0.1), rgba(0,0,0,.1));
    background-color:@color;
    height: @height;
    margin:0 @height;
    margin-top: -@height;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height: @height;
    text-shadow:0 1px #666;
    position:relative;
    -webkit-box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;
    -moz-box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;
    box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;
    &:before, &:after {
        content:'';
        border:6px solid transparent;
        position:absolute;
        display:block;
        width:0;
        height:0;
        top:100%;
    }
    &:before{
        left:0;
        border-top-color:lighten(@color, 30%);
        border-left-width:7px;
        border-right-width:0;
    }

    &:after {
        right:0;
        border-top-color:lighten(@color, 30%);
        border-right-width:7px;
        border-left-width:0;
    }
    .right, .left{
        border:19px solid @color;
        position:absolute;
        display:block;
        width:0; height:0;
        top:7px;
        z-index:-1;
    }
    .right {
        -webkit-box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            1px 0 0 #777;
        -moz-box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            1px 0 0 #777;
        box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            1px 0 0 #777;
        border-left-color:transparent;
        left:-32px;
    }
    .left {
        -webkit-box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            -1px 0 0 #777;
        -moz-box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            -1px 0 0 #777;
        box-shadow:
            0 1px 0 #777,
            0 -1px 0 lighten(@color, 50%),
            0 -2px 0 #777,
            -1px 0 0 #777;
        border-right-color:transparent;
        right:-32px;
    }
}
// Gradient Bar Colors for buttons and allerts
.gradientBar(@primaryColor, @secondaryColor) {
  .gradient(@primaryColor, @secondaryColor);
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}
.ribbon-images(@bg1, @bg2, @bg3, @h) {
  @h: 39px;
  padding: 0 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: @h;
  position: relative;
  left: 31px;
  background: e(%('url(%d) no-repeat left top', @bg1));
  > span {
    background: e(%('url(%d) repeat-x center top', @bg2));
    height: @h;
    padding-left: 5px;
    display: inline-block;
    > span {
      background: url(../img/css/calc-total-ribbon-green-right.png) no-repeat right top;
      background: e(%('url(%d) no-repeat right top', @bg3));
      display: inline-block;
      height: @h;
      padding-right: 23px;
      line-height: 30px;
    }
  }
}