/* For image replacement */
.ir() { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.page-peel() {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	&:before, &:after {
		content: '';
		z-index: -1;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 70%;
		max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
		height: 55%;
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		-ms-transform: skew(-15deg) rotate(-6deg);
		-o-transform: skew(-15deg) rotate(-6deg);
		transform: skew(-15deg) rotate(-6deg); 
	}
	&:after {
		left: auto;
		right: 10px;
		-webkit-transform: skew(15deg) rotate(6deg);
		-moz-transform: skew(15deg) rotate(6deg);
		-ms-transform: skew(15deg) rotate(6deg);
		-o-transform: skew(15deg) rotate(6deg);
		transform: skew(15deg) rotate(6deg); 
	}	
}
.reset() {
	background: none;
	border-spacing: 0;
	border: 0;
	color: black;
	cursor: auto;
	direction: ltr;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
}