/* For image replacement */
.ir() { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.page-peel() {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	&:before, &:after {
		content: '';
		z-index: -1;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 70%;
		max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
		height: 55%;
		-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		-webkit-transform: skew(-15deg) rotate(-6deg);
		-moz-transform: skew(-15deg) rotate(-6deg);
		-ms-transform: skew(-15deg) rotate(-6deg);
		-o-transform: skew(-15deg) rotate(-6deg);
		transform: skew(-15deg) rotate(-6deg); 
	}
	&:after {
		left: auto;
		right: 10px;
		-webkit-transform: skew(15deg) rotate(6deg);
		-moz-transform: skew(15deg) rotate(6deg);
		-ms-transform: skew(15deg) rotate(6deg);
		-o-transform: skew(15deg) rotate(6deg);
		transform: skew(15deg) rotate(6deg); 
	}	
}
.reset() {
	background: none;
	border-spacing: 0;
	border: 0;
	color: black;
	cursor: auto;
	direction: ltr;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
}
.basic-gradient-darken(@color:#cccccc, @strength:10%) {
	.gradient(@color, darken(@color, @strength));
}
.basic-gradient-darken-180(@color:#cccccc) {
	.gradient(darken(@color, 10%), @color);
}
.basic-gradient-lighten(@color:#cccccc) {
	.gradient(@color, lighten(@color, 10%));
}
.basic-gradient-lighten-180(@color:#cccccc) {
	.gradient(lighten(@color, 10%), @color);
}

.ribbon(@color:#999, @height: 20px) {
    .gradient(rgba(255,255,255,0.1), rgba(0,0,0,.1));
    background-color:@color;
    height: @height;
    margin:0 @height;
    margin-top: -@height;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height: @height;
    text-shadow:0 1px #666;
    position:relative;
    -webkit-box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;
    -moz-box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;
    box-shadow:
        0 1px 3px rgba(0,0,0,.3),
        0 0 0 1px lighten(@color, 20%),
        0 1px 0 lighten(@color, 50%) inset;

        &:before, &:after {
            content:'';
            border:6px solid transparent;
            position:absolute;
            display:block;
            width:0;
            height:0;
            top:100%;
        }
        &:before{
            left:0;
            border-top-color:lighten(@color, 30%);
            border-left-width:7px;
            border-right-width:0;
        }

        &:after {
            right:0;
            border-top-color:lighten(@color, 30%);
            border-right-width:7px;
            border-left-width:0;
        }
        .right, .left{
            border:19px solid @color;
            position:absolute;
            display:block;
            width:0; height:0;
            top:7px;
            z-index:-1;
        }
        .right {
            -webkit-box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                1px 0 0 #777;
            -moz-box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                1px 0 0 #777;
            box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                1px 0 0 #777;
            border-left-color:transparent;
            left:-32px;
        }
        .left {
            -webkit-box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                -1px 0 0 #777;
            -moz-box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                -1px 0 0 #777;
            box-shadow:
                0 1px 0 #777,
                0 -1px 0 lighten(@color, 50%),
                0 -2px 0 #777,
                -1px 0 0 #777;
            border-right-color:transparent;
            right:-32px;
        }
    }
